# DB_HOST=ficree-postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ficree_development

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres
TEST_DB_NAME=ficree_test

AWS_REGION=ap-southeast-1
AWS_BUCKET_NAME=ficree-dev
AWS_PRESIGNED_URL_EXPIRATION_TIME=3600
AWS_TRANSFER_ACCELARATION=false
AWS_ACCESS_KEY=admin
AWS_SECRET_KEY=Password01
AWS_SESSION_TOKEN=
AWS_FORCE_PATH_STYLE=false
# MINIO_ENDPOINT=http://127.0.0.1:9000